build
build_musl

third_party/curl/
third_party/devicemapper/
third_party/e2fsprogs/
third_party/wireguard/

src/include/enclave/sgxlkl_t.h
src/include/host/sgxlkl_u.h
src/include/shared/sgxlkl_args.h
src/main-oe/sgxlkl_u.c
src/enclave/sgxlkl_t.c

*.tar.gz
*.class
*.log
*.tmp
*.img
*.img.enc
*.img.enc.vrt
*.img.vrt
*.img.enc.int
*.img.int
*.key
*.roothash
*.hashoffset
*.docker
*.docker_entrypoint
.gdb_history

.vscode/*
!.vscode/extensions.json
