[submodule "lkl"]
	path = lkl
	url = https://github.com/lsds/lkl.git
[submodule "host-musl"]
	path = host-musl
	url = https://github.com/lsds/musl.git
[submodule "sgx-lkl-musl"]
	path = sgx-lkl-musl
	url = https://github.com/lsds/sgx-lkl-musl.git
