build
build_musl

tools/gdb/sgx-lkl-gdb

third_party/curl/
third_party/cryptsetup/
third_party/devicemapper/
third_party/e2fsprogs/
third_party/util-linux/
third_party/popt/
third_party/json-c/
third_party/mbedtls/*.o
third_party/mbedtls/*.a
third_party/wireguard/
third_party/protobuf-c/
third_party/protobuf-c-rpc/*.o
third_party/protobuf-c-rpc/*.a

src/include/enclave/sgxlkl_t.h
src/include/host/sgxlkl_u.h
src/include/shared/sgxlkl_args.h
src/main-oe/sgxlkl_u.c
src/enclave/sgxlkl_t.c

*.tar.gz
*.class
*.log
*.tmp
*.img
*.img.enc
*.img.enc.vrt
*.img.vrt
*.img.enc.int
*.img.int
*.key
*.roothash
*.hashoffset
*.docker
.gdb_history

.vscode/
