build/
results/
*.pyc
*.csv
*.img
*.tmp
*.tar.gz
*.class
*.log
*.tmp
*.img
*.img.enc
*.img.enc.vrt
*.img.vrt
*.img.enc.int
*.img.int
*.key
*.roothash
*.hashoffset
.gdb_history
gdb/ptrace/*.o
gdb/ptrace/*.so
gdb/sgx-lkl-gdb
third_party/cryptsetup/
third_party/devicemapper/
third_party/util-linux/
third_party/popt/
third_party/json-c/
third_party/mbedtls/*.o
third_party/mbedtls/*.a
third_party/wireguard/
third_party/protobuf-c/
third_party/protobuf-c-rpc/*.o
third_party/protobuf-c-rpc/*.a
*.pb-c.c
*.pb-c.h
src/lkl/x86mods
